@font-face {
    font-family: "Shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
html,body {
    margin: 0;
    font-family: "Roboto";
    /* font-size: 14px; */
}
.box_logo {
        margin: 10px 110px;
}
.logo img {
    width: 100%;
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #e6e6e6;
    border-top: solid 3px #d1d1d1;
    height: 3rem;
}
.logo_gps {
    font-size: 15px;
    margin-right: 18px;
}
.localisation p {
    font-size: 14px;
    font-weight: 600;
}

.position {
    margin-right: 2rem;
}
.position input {
    color: black;
    font-weight: bold;
    border: none;
    background: #8c8c8c;
}
.nav_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
    width: 100%;
    padding-bottom: 40px;
}
.titre_text_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre_text_header h1 {
    font-size: 20px;
    font-weight: 700;
    width: 64%;
    padding: 35px 0 15px 0;
    text-align: center;
}
.titre_text_header p {
    color: #777777;
    font-weight: 500;
    width: 95%;
    padding: 0 0 14px 0;
    text-align: center;
}
.boutton_explorer {
    display: flex;
    justify-content: center;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 5px 5px 10px 1px #a1a1a1;
    color: white;
    border-radius: 50px;
    width: 56%;
    padding: 12px 16px 12px 16px;
    border:none;
}
.boutton_explorer:hover {
    background: linear-gradient(#fd8bdd 20%, #9667cf 100%);
    box-shadow: 10px 10px 10px 1px #a1a1a1;
}
h1,p {
    margin: 0;
}

/* Nav Fonctionnement */
.titre_fonctionnement h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 35px 0 20px 0;
}
.box_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_fct {
    display: flex;
    align-items: baseline;
    background: #f3f3f3;
    border-radius: 20px;
    margin: 0 0 25px 0;
    padding: 15px 0 15px 0px;
    width: 90%;
    box-shadow: 3px 3px 10px 1px #d4d4d4;
}
.box_fct:hover {
    background: #ebe0ec;
    box-shadow: 10px 10px 10px 1px #d4d4d4;
}
.numero {
    margin-left: -13px;
    background: #9356dc;
    color: white;
    font-size: 13px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 5px 2px 5px 10px;
}
.logor {
    font-size: 18px;
    color: grey;
    margin: 0 22px 0 24px;
}
.text{
    font-size: 14px;
    font-weight: 600;
}

/* Section title */
#title {
    background: #f0f0f0;
}
.titre_restaurant {
    margin-left: 1.4rem;
    padding-top: 2rem;
}
.box_vignettes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 3rem 0;
}
.img_gout {
    background: url(../images/restaurants/gout.jpg);
}
.img_enchantee {
    background: url(../images/restaurants/enchantee.jpg);
}
.img_francaise {
    background-image: url(../images/restaurants/francaise.jpg);
}
.img_sens {
    background-image: url(../images/restaurants/sens.jpg);
}
.all_img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 147px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.vignettes {
    width: 330px;
    margin: 0 0 15px 0;
    background: white;
    box-shadow: 3px 3px 20px 1px #d6d6d6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box_nouveau {
    float: right;
    background-color: #99E2D0;
    color: #16a072;
    margin: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 8px 5px 8px;
}
figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-top: -2px; 
}
/*Coeur animée index */
.icon_heart  .emptyindex_heart{
    opacity: 1;
  }
.icon_heart .fullindex_heart{
      opacity: 0;
    }
.icon_heart:hover .emptyindex_heart {
      opacity: 0;
    }
.icon_heart:hover .fullindex_heart {
      opacity: 1;
  }
.emptyindex_heart:hover {
      transition: opacity 500ms linear;
  }
    
.fullindex_heart:hover {  
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
  }
.fullindex_heart {
      position:absolute;
      transition: opacity 0.1s linear;
  }
.icon_heart {
    display:flex;
    font-size: 26px;
    margin-right: 2rem;
}
.info_vignettes {
    padding-left: 10px;
}
h4 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 15px 0 0 10px;
}
section figcaption p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0 0 10px;
}
section a {
    text-decoration: none;
    color: black;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #333333;
    color: white;
    width: 100%;
    height: 170px;
}
#footer_logo {
    width: 100px;
    margin: 18px 0 18px 20px;
}

.foot_box {
    display: flex;
    align-items: baseline;
}
.foot_box p {
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
}
footer a {
    text-decoration: none;
    color: white;
}
.icon_footer_ustensils {
    font-size: 11px;
    margin-right: 10px;
}
.icon_footer_main {
    font-size: 8px;
    margin-right: 10px;
}
footer p {
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
}
.foot {
    margin-left: 20px;
}

/* Page gout.html */
.box_pages_titre {
    display:flex;
    justify-content: center;
    align-items: center;
}
.header_logo {
    font-family: Shrikhand,"cursive";
    text-align: center;
    margin: 10px 70px;
}
.header_arrow {
    font-size: 20px;
    color: black;
}
.img_gout_page {
    background: url(../images/restaurants/gout.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}
.img_enchantee_page {
    background: url(../images/restaurants/enchantee.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}
.img_francaise_page {
    background: url(../images/restaurants/francaise.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}
.img_sens_page {
    background: url(../images/restaurants/sens.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}
.container_menu {
    background: #f0f0f0;
    margin: -46px 0 0 0;
    padding-bottom: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.box_titre_logo {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_titre {
    font-family: Shrikhand,"cursive";
}
.fa-heart {
    font-size: 26px;
}

/* Coeur animé menu*/
.heartButton  .empty_heart{
  opacity: 1;
}
.heartButton .full_heart{
    opacity: 0;
  }

.heartButton:hover .empty_heart {
    opacity: 0;
  }
.heartButton:hover .full_heart {
    opacity: 1;
}

.empty_heart:hover {
    transition: opacity 500ms linear;
}
  
.full_heart:hover {  
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.full_heart {
    position:absolute;
    right: 2rem;
    transition: opacity 0.1s linear;
}

.ligne_verte {                      /*hr ligne verte */
    border: #99e2d0 solid 2px;
    width: 10px;
    margin: 4px 0 0 15px;
    padding: 0 10px 0 10px;
}
.box_menu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}
.titre_menu {
    font-size: 14px;
    margin: 14px 0 0 0;
    padding: 20px 0 3px 15px;
}
.menuitem {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: .75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: ItemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both; 
    max-width: 100%;
}
.title_and_detail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}
.title_menu {
    margin: 0;
}
.detail {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu_price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
}
.menu_confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99e2d0;
    overflow: hidden;
    margin: -1rem -1rem -1rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 0%;
}

.menuitem:hover .menu_confirmation{
    width: 80px;
    transition: 0.3s;
    transition-timing-function: ease-in;
}
.menuitem .menu_confirmation {
    width: 0px;
    transition: 0.2s;
    transition-timing-function: ease-out;
}
.circle_confirmation{
    color: white;
    font-size: 20px;
}
.menuitem:hover .circle_confirmation {
    transition: transform 400ms ease;     
    transform: rotate( 360deg );
}


@keyframes ItemAppear {
0% {
    transform: translateY(15px);
    opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}
.delay1 {
    animation-delay: 0s;
}
.delay2 {
    animation-delay: 0.1s;
}
.delay3 {
    animation-delay: 0.2s;
}
.delay4 {
    animation-delay: 0.3s;
}
.delay5 {
    animation-delay: 0.4s;
}
.delay6 {
    animation-delay: 0.5s;
}
.delay7 {
    animation-delay: 0.6s;
}
.delay8 {
    animation-delay: 0.7s;
}
.delay9 {
    animation-delay: 0.8s;
}
.box_btn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}
.commander {
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg
    ,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}
.commander:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}
 /* Tablette ipad= (768*1024)  */ 
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .boutton_explorer {
        width: 30%;
    }
    .titre_fonctionnement h2 {
        margin: 35px 0 20px 307px;
    }
    .titre_restaurant {
        margin-left: 19.4rem;
    }
    .box_fct {
        width: 35%;
    }
    .footer {
        flex-direction: column;
    }
}
/* Desktop 1024px + */
@media screen and (min-width:1024px) and (max-width: 1920px) {
    .box_logo {
        margin: 10px 310px;
    }
    .boutton_explorer {
        width: 20%;
    }
    .titre_fonctionnement h2 {
        display:flex;
        justify-content: center;
    }
    .box_fct {
        width: 22%;
    }
    .box_vignettes {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 1rem 0 3rem 1rem;
    }
    .vignettes {
        width: 14.375rem; /* 310px */
        margin: 0px 18px 15px 0px;
    }
    .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 98%;
    margin-left: 0;
    }
    #footer_logo {
        width: 20rem;
        margin: 18px 0 18px 20px;
        align-self: center;
    }
}
.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: -8px 0 0 -8px;
    padding: 14px 0px 0px 0;
    background: linear-gradient(#ff79da, #9356dc);
    animation: disparition 2s linear;
    animation-fill-mode: both;
    font-size: 3rem
}
@keyframes disparition {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
.spinner_title{
    background: -webkit-linear-gradient(#99e2d0, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-spin {
    background: -webkit-linear-gradient(#99e2d0, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}