@font-face {
    font-family: "Shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
html,body {
    margin: 0;
    font-family: "Roboto";
    /* font-size: 14px; */
}
.box_logo {
        margin: 10px 110px;
}
.logo img {
    width: 100%;
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #e6e6e6;
    border-top: solid 3px #d1d1d1;
    height: 3rem;
}
.logo_gps {
    font-size: 15px;
    margin-right: 18px;
}
.localisation p {
    font-size: 14px;
    font-weight: 600;
}

.position {
    margin-right: 2rem;
}
.position input {
    color: black;
    font-weight: bold;
    border: none;
    background: #8c8c8c;
}
.nav_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
    width: 100%;
    padding-bottom: 40px;
}
.titre_text_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre_text_header h1 {
    font-size: 20px;
    font-weight: 700;
    width: 64%;
    padding: 35px 0 15px 0;
    text-align: center;
}
.titre_text_header p {
    color: #777777;
    font-weight: 500;
    width: 95%;
    padding: 0 0 14px 0;
    text-align: center;
}
.boutton_explorer {
    display: flex;
    justify-content: center;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 5px 5px 10px 1px #a1a1a1;
    color: white;
    border-radius: 50px;
    width: 56%;
    padding: 12px 16px 12px 16px;
    border:none;
}
h1,p {
    margin: 0;
}

/* Nav Fonctionnement */
.titre_fonctionnement h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 35px 0 20px 0;
}
.box_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_fct {
    display: flex;
    align-items: baseline;
    background: #f3f3f3;
    border-radius: 20px;
    margin: 0 0 25px 0;
    padding: 15px 0 15px 0px;
    width: 90%;
    box-shadow: 3px 3px 10px 1px #d4d4d4;
}
.numero {
    margin-left: -13px;
    background: #9356dc;
    color: white;
    font-size: 13px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 5px 2px 5px 10px;
}
.logor {
    font-size: 18px;
    color: grey;
    margin: 0 22px 0 24px;
}
.text{
    font-size: 14px;
    font-weight: 600;
}

/* Section title */
#title {
    background: #f0f0f0;
}
.titre_restaurant {
    margin-left: 1.4rem;
    padding-top: 2rem;
}
.box_vignettes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 3rem 0;
}
.img_gout {
    background: url(../images/restaurants/gout.jpg);
}
.img_enchantee {
    background: url(../images/restaurants/enchantee.jpg);
}
.img_francaise {
    background-image: url(../images/restaurants/francaise.jpg);
}
.img_sens {
    background-image: url(../images/restaurants/sens.jpg);
}
.all_img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 147px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.vignettes {
    width: 330px;
    margin: 0 0 15px 0;
    background: white;
    box-shadow: 3px 3px 20px 1px #d6d6d6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box_nouveau {
    float: right;
    background-color: #99E2D0;
    color: #16a072;
    margin: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 8px 5px 8px;
}
figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-top: -2px; 
}
.icon_heart {
    font-size: 26px;
    margin-right: 2rem;
}
.info_vignettes {
    padding-left: 10px;
}
h4 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 15px 0 0 10px;
}
section figcaption p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0 0 10px;
}
section a {
    text-decoration: none;
    color: black;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #333333;
    color: white;
    width: 100%;
    height: 170px;
}
#footer_logo {
    width: 100px;
    margin: 18px 0 18px 20px;
}

.foot_box {
    display: flex;
    align-items: baseline;
}
.foot_box p {
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
}
footer a {
    text-decoration: none;
    color: white;
}
.icon_footer_ustensils {
    font-size: 11px;
    margin-right: 10px;
}
.icon_footer_main {
    font-size: 8px;
    margin-right: 10px;
}
footer p {
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
}
.foot {
    margin-left: 20px;
}

/* Page gout.html */
.box_pages_titre {
    display:flex;
    justify-content: center;
    align-items: center;
}
.header_logo {
    font-family: Shrikhand,"cursive";
    text-align: center;
    margin: 10px 70px;
}
.header_arrow {
    font-size: 20px;
    color: black;
}
.img_gout_page {
    background: url(../images/restaurants/gout.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}
